<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
   
    <tr style="background-color: #e4e7ea; border-color: #c8ced3;" >
            <th class="text-center text-secondary"><i class="fa fa-users"></i></th>
            <th class="text-secondary">User</th>
            <th class="text-secondary">Email</th>
            <th class="text-secondary">Role</th>
            <th class="text-secondary">Activity</th>
            <th class="text-secondary">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of userData">
        <tr>
            <td class="text-center">
                <div class="avatar">
                    <img [src]=" user.profilePicUrl ? 'http://localhost:4040/'+user.profilePicUrl : 'assets/avatar.svg' " alt="UserProfileImage" class="rounded-pill" height="50" width="50">
                </div>
            </td>
            <td>
                <div><a (click)="navigateUser(user._id)"><strong>{{ user.fullName | titlecase }}</strong></a></div>
                <div class="small text-muted">Registered: {{ user.createdAt | date }} </div>
            </td>
            
            <td>
                    <div class="float-left">{{ user.email }}</div>
                    <!-- <div class="float-right"><small class="text-muted">Jun 11,
                            2015 - Jul 10, 2015</small></div> -->
                <!-- <div class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-success" style="width: 50%;"></div>
                </div> -->
            </td>
            <!-- <td class="text-center">{{ user.password }}</td> --> 
            <td class="">{{ user.userType === roles.admin._id ? 'Admin' : user.userType === roles.user._id ? 'User' : 'No role provided' }}</td>
            <td>
                <div class="small text-muted">Last updated</div>{{ user.updatedAt | date:'medium' }}
            </td>
            <td class="float-left"><i class="fa fa-trash trashicon" (click)="openModal(logout)"></i></td>
        </tr>
        <ng-template #logout>
            <div class="modal-body text-center">
                <p class="mt-1">Are you sure?</p>
                <button (click)="removeUSer(user._id)"
                    type="button"
                    class="btn btn-default">
                    Yes
                </button>
                <button (click)="decline()"
                    type="button"
                    class="btn bg-black text-white">
                    No
                </button>
            </div>
        </ng-template>
    </tbody>
</table>

