<div class="container py-5">
    <div class="d-flex justify-content-center row">
        <div *ngFor="let blog of blogList.data" class="col-md-8">
            <div class="blog-card d-flex overflow-hidden p-4 bg-white
			 flex-column comment-section my-2">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info align-items-center">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="d-flex flex-column justify-content-start mx-3">
                            <a (click)="navigateUser(blog.userId._id)"><span class="d-block font-weight-bold name">{{blog.userId.fullName | titlecase}}</span></a>
                            <span class="date text-black-50">
                                {{blog.createdAt | date}}
                            </span>
                        </div>
                    </div>
                    <a (click)="navigateBlog(blog._id)">
                        <div class="mt-4 mx-4">
                            <strong class="fs-4">{{blog.blogTitle}}</strong>
                        </div>
                        <div class="mt-2 mx-4 fs-6 blogdes overflow-hidden"
                            [innerHtml]="truncate(blog.blogDescription,240)">
                        </div>
                    </a>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="">
                            <button (click)="likeCounter(blog._id)" class="btn"> <img
                                    src="../../../assets/icon_like.svg" alt="like"> </button>
                            <span class="mr-2">{{blog.likes.length}}</span>
                        </div>
                        <div class="mx-3">

                                <button [matMenuTriggerFor]="menu"
                                    class="btn">
                                    <img src="../../../assets/icon_share.svg" alt="share">
                                </button>
                                <mat-menu #menu="matMenu"
                                    class="p-1">
                                    <share-buttons theme="custom-dark"
                                        [include]="['copy', 'facebook', 'whatsapp', 'linkedin', 'twitter',  'email']"
                                        [showIcon]="true"
                                        [show]="6"
                                        [url]="blogURL+blog._id">
                                    </share-buttons>
                                </mat-menu>

                    
                            <!--blogURL+blog._id <button class="btn"><img src="../../../assets/icon_share.svg" alt="share"></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>