<div class="d-flex justify-content-center row">
    <div *ngFor="let blog of blogList.slice().reverse()" class="p-0 half-post-entry d-block d-lg-flex g-md-3 g-2 col-md-8">
        <div class="contents">
            <a (click)="navigateBlog(blog._id)">
                <h2 style="font-family: 'Cabin', sans-serif;">{{blog.blogTitle}}</h2>
                <p [innerHtml]="blog.blogDescription" class="mb-3 line-clamp"></p>
            </a>
            <div class="post-meta">
                <span class="d-block"><a (click)="navigateUser(blog.userId._id)">{{blog.userId.fullName |
                        titlecase}}</a></span>
                <span class="date-read small">{{blog.createdAt | date}}</span>
                <app-like-share-button [blogId]="blog._id" [blogList]="blogList" [likeLen]="blog.likes.length"
                    [user]="user"></app-like-share-button>
            </div>
        </div>
        <a (click)="navigateBlog(blog._id)" class="img-bg"
            style="background-image:url(http://localhost:4040/{{blog.path}});background-size: cover;background-repeat: no-repeat;">
    </a>
    </div>
</div>
