<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="user text-center">
            <div class="profile"> <img src="../../../../assets/avatar.svg" class="rounded-circle" width="80"> </div>
        </div>
        <div class="mt-5 text-center">
            <h2 class="mb-0">{{user.fullName | titlecase}}</h2> <span class="text-muted d-block mb-2">{{user.email}}</span>
            <div class="d-flex justify-content-between align-items-center mt-4 px-4 mb-5">
                <div class="stats">
                    <h5 class="mb-0">Followers</h5> <span>{{user.followers.length}}</span>
                </div>
                <div class="stats">
                    <h5 class="mb-0">Following</h5> <span>{{user.followings.length}}</span>
                </div>
                <div class="stats">
                    <h5 class="mb-0">Blogs</h5> <span>{{blogsCount}}</span>
                </div>
                <!-- <div class="stats">
                    <h6 class="mb-0">Ranks</h6> <span>129</span>
                </div> -->
            </div>
			<div class="d-flex flex-column">
				<button class="btn bg-black text-white follow mb-2">Edit Profile</button>
			</div>
        </div>
    </div>
</div>
