<div class="container d-flex justify-content-center align-items-center">
    <div class="card h-auto">
        <div class="user text-center">
            <div class="profile"> <img src="http://localhost:4040/{{user.profilePicUrl}}" class="rounded-circle"
                    width="80" alt="profile pic"> </div>
        </div>
        <div class="mt-5 text-center">
            <h2 class="mb-0">{{user.fullName | titlecase}}</h2> <span
                class="text-muted d-block mb-2">{{user.email}}</span>
            <div class="d-flex justify-content-between align-items-center mt-4 px-4 mb-5">
                <div class="stats">
                    <h5 class="mb-0">Followers</h5> <span>{{user.followers.length}}</span>
                </div>
                <div class="stats">
                    <h5 class="mb-0">Following</h5> <span>{{user.followings.length}}</span>
                </div>
                <div class="stats">
                    <h5 class="mb-0">Blogs</h5> <span>{{blogsCount}}</span>
                </div>
            </div>
            <div class="d-flex flex-column">
                <button class="btn bg-black text-white follow mb-2" (click)="openModal(template)">Edit Profile</button>
            </div>
        </div>
    </div>


<ng-template #template>
    <!-- <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>

    </div> -->
    <div class="modal-body p-md-5">
        <p class="text-center fs-5 fw-bold mb-5">Edit Profile</p>
        <div class="mb-3">
            <form [formGroup]="imageData">
            <label for="exampleInputPassword1" class="form-label">Change Profile Photo</label>
            <div class="input-group">
                <input type="file" formControlName="image" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="updateImage(user._id)">Button</button>
            </div>
        </form>
        </div>
        
        <form [formGroup]="profileData">
            <div class="mb-3">
                <label for="exampleInputFullName" class="form-label">Full name</label>
                <input type="text" class="form-control" formControlName="fullName">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <button type="submit" class="btn btn-dark col-12" (click)="editProfile(user._id)">Submit</button>
        </form>
    </div>
</ng-template>