<!-- <div class="container pt-3">
	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		<div *ngFor="let blog of blogList.data"
			class="col">
			<a (click)="navigateBlog(blog._id)">
				<div class="card card-cover h-100 overflow-hidden text-white border-0
					bg-dark rounded-5"
					style="background-image:
					url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrwFBFgTscQ8nz7a0Vi3BbA5OU0M4Wuu7itw&usqp=CAU');">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<strong class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
							{{blog.blogTitle}}
						</strong>
						<h4>{{blog.blogDescription}}</h4>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img
									src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlrZqTCInyg6RfYC7Ape20o-EWP1EN_A8fOA&usqp=CAU"
									alt="User"
									width="52"
									height="52"
									class="rounded-circle border border-white">
								Nikunj Dhola
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2"
									width="1em"
									height="1em">
									<use :xlink:href="#geo-fill"></use>
								</svg>
								<small>Earth</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2"
									width="1em"
									height="1em">
									<use :xlink:href="#calendar3"></use>
								</svg>
								<small>3d</small>
							</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
</div> -->
<!-- <div class="container pt-3">
	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		<div *ngFor="let blog of blogList.data" class="col">
			<a (click)="navigateBlog(blog._id)">
				<div class="card flex-md-row mb-4 shadow-sm h-md-250">
					<div class="card-body d-flex flex-column align-items-start">
						<strong class="d-inline-block mb-2 text-primary">{{blog.blogTitle}}</strong>
						c <div class="mb-1 text-muted">Nov 12</div> c
						<p class="card-text mb-auto">
							{{blog.blogDescription}}
						</p>
						<p class="mt-2 mb-0">
							<svg xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-person"
								viewBox="0 0 16 16">
								<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
							</svg>
							<strong>
								{{ blog.userId.fullName | titlecase }}
							</strong>
						</p>
						c <a href="#">Continue reading</a> c
					</div>
					c <img class="card-img-right flex-auto d-none d-lg-block"
						data-src="holder.js/200x250?theme=thumb"
						alt="Thumbnail [200x250]"
						style="width: 200px; height: 250px;"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17f74db0e60%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17f74db0e60%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true"> c
				</div>
			</a>
		</div>
	</div>
</div> -->
<!-- <div class="container pt-3">
	<div class="row row-cols-1 align-items-stretch g-2 py-5">
		<div *ngFor="let blog of blogList.data" class="col">
			<a (click)="navigateBlog(blog._id)">
				<div class="card overflow-hidden flex-md-row mb-4 w-sm-25 w-md-50 border-0 border-bottom h-md-250">
					<div class="card-body d-flex flex-column align-items-start">
						<div class="mb-4">
							User Name
						</div>
						<div>
							<strong class="d-inline-block mb-3 fs-4 text-dark">{{blog.blogTitle}}</strong>
						</div>
						<div>
							<p class="d-inline-block mb-2 fs-6 text-dark">{{blog.blogDescription}}</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div> -->
<!-- <div class="row mb-2">
    <div *ngFor="let blog of blogList.data" class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{blog.blogTitle}}</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mr-5 mb-auto">{{blog.blogDescription}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div> -->
<!-- <div class="container pt-3">
	<div class="row row-cols-1 align-items-stretch g-2 py-5">
		<div *ngFor="let blog of blogList.data" class="col">
			<a (click)="navigateBlog(blog._id)">
				<div class="row rounded overflow-hidden border-bottom w-75">
					<div class="my-4">
						<b class="fs-6">Username</b>
					</div>
					<div class="mb-3 overflow-hidden">
						<strong class="fs-4">{{blog.blogTitle}}</strong>
					</div>
					<div class="overflow-hidden">
						<p class="fs-5">{{blog.blogDescription}}</p>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
							<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</div>
  </div> -->
<div class="container py-5">
	<div class="d-flex justify-content-center row">
		<div *ngFor="let blog of blogList.data"
			class="col-md-8">
			<div class="blog-card d-flex overflow-hidden p-4 bg-white
			 flex-column comment-section my-2">
				<div class="bg-white p-2">
					<div class="d-flex flex-row user-info align-items-center">
						<!-- <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"> -->
						<i class="fa fa-user"
							aria-hidden="true"></i>
						<div class="d-flex flex-column justify-content-start mx-3">
							<span class="d-block font-weight-bold name">{{blog.userId.fullName | titlecase}}</span>
							<span class="date text-black-50">
								Jan 2020
							</span>
						</div>
					</div>
					<a (click)="navigateBlog(blog._id)">
						<div class="mt-4 mx-4">
							<strong class="fs-4">{{blog.blogTitle}}</strong>
						</div>
						<div class="mt-2 mx-4">
							<p class="fs-6 blogdes overflow-hidden">{{truncate(blog.blogDescription,240)}}</p>
						</div>
					</a>
				</div>



				<div class="bg-white">
					<div class="d-flex flex-row fs-12">
						<div class="like p-2 cursor">
							<img src="../../../../../assets/icon_like.svg"
								alt="like">
							<span class=" mx-1"></span>
						</div>
						<div class="like p-2 cursor">
							<img src="../../../../../assets/icon_share.svg"
								alt="share">
						</div>
					</div>
				</div>
				<!-- <div class="bg-light p-2">
					<div class="d-flex flex-row align-items-start"><img class="rounded-circle"
							src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea
							class="form-control ml-1 shadow-none textarea"></textarea></div>
					<div class="mt-2 text-right"><button class="btn btn-primary btn-sm
							shadow-none" type="button">Post comment</button><button class="btn
							btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
				</div> -->
			</div>


		</div>
	</div>
</div>
