// ng-template .modal.right .modal-dialog {
//     position: fixed;
//     margin: auto;
//     width: 320px;
//     height: 100%;
//     -webkit-transform: translate3d(0%, 0, 0);
//         -ms-transform: translate3d(0%, 0, 0);
//          -o-transform: translate3d(0%, 0, 0);
//             transform: translate3d(0%, 0, 0);
// }

// .modal.right .modal-content {
//     height: 100%;
//     overflow-y: auto;
// }

// .modal.right .modal-body {
//     padding: 15px 15px 80px;
// }
    
// /*Right*/
// .modal.right.fade .modal-dialog {
//     right: -320px;
//     -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
//        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
//          -o-transition: opacity 0.3s linear, right 0.3s ease-out;
//             transition: opacity 0.3s linear, right 0.3s ease-out;
// }

// .modal.right.fade.in .modal-dialog {
//     right: 0;
// }

// /* ----- MODAL STYLE ----- */
// .modal-content {
//     border-radius: 0;
//     border: none;
// }

// .modal-header {
//     border-bottom-color: #EEEEEE;
//     background-color: #FAFAFA;
// }


@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.card{
    border: none;
}
body {
    background-color: #D32F2F;
    font-family: 'Calibri', sans-serif !important
}

.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px
}

.comment-text:hover {
    visibility: hidden
}

.comment-text:hover {
    visibility: visible
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%
}

.round img {
    border-radius: 100%
}

.label-info {
    background-color: #1976d2
}

.label-success {
    background-color: green
}

.label-danger {
    background-color: #ef5350
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}

.action-icons a:hover {
    color: #1976d2
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}
.modal-content{
    height: 90vh ;
    overflow: hidden ;
}
.modal-header{
    top: 0;
    overflow: hidden;
}
.modal-body{
    overflow: scroll;
}