
@media (orientation:portrait) and (max-width:576px) {
    .content{
        width: 100vw !important;
        height: calc(100vh - 80px);
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
}
.content{
    width: calc(100vw - 80px);
    overflow: auto;
    height: auto;
}

.main-container{
    width: 100vw !important;
    overflow: hidden;
    height: 100vh;
    display: flex;
}