<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 px-4 mb-4 border-bottom sticky bg-white">
	<a href="#"
		class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
		<img src="../../../assets/blacknamelogo.svg"
			alt="logo"
			width="200">
	</a>
	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
		<li>
			<a (click)="navigateMenu('home')"
				class="nav-link px-2 link-secondary">
				Home
			</a>
		</li>
		<li>
			<a (click)="navigateMenu('create')"
				class="nav-link px-2 link-secondary">
				Create
			</a>
		</li>
	</ul>
	<div class="col-md-3 text-end">
		<a (click)="openModal(logout)"
			class="btn bg-black text-white">
			Log out
		</a>
	</div>
</header>
<ng-template #logout>
	<div class="modal-body text-center">
	  <p class="mt-1">Are you sure?</p>
	  <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
	  <button type="button" class="btn bg-black text-white" (click)="decline()" >No</button>
	</div>
</ng-template>