<div class="d-flex flex-sm-column bg-black sidebar align-items-center justify-content-sm-between justify-content-center py-3">
	<a routerLink="./home"
		class="d-sm-block d-none link-dark text-decoration-none">
		<img src="assets/whitelogo.svg"
			height="50"
			width="50"
			alt="logo">
	</a>
	<ul class="nav flex-sm-column text-center">
		<li class="nav-item">
			<a routerLink="./home"
				tooltip="Home"
        		placement="right"
				routerLinkActive="active"
				class="nav-link py-3">
				<img src="assets/icon_home.svg"
					alt="home">
			</a>
		</li>
		<li>
			<a routerLink="./list"
			tooltip="List"
        		placement="right"
				routerLinkActive="active"
				class="nav-link py-3">
				<img src="assets/icon_list.svg"
					alt="list">
			</a>
		</li>
		<li>
			<a routerLink="./create"
			tooltip="Create"
        		placement="right"
				routerLinkActive="active"
				class="nav-link py-3">
				<img src="assets/icon_create.svg"
					alt="create">
			</a>
		</li>
	</ul>
	<ul class="nav flex-sm-column text-center">
		<li class="nav-item">
			<a routerLink="./profile"
			tooltip="Profile"
        		placement="right"
				routerLinkActive="active"
				class="nav-link py-3">
				<img src="assets/icon_account.svg"
					alt="account">
			</a>
		</li>
		<li>
			<a (click)="openModal(logout)"
				class="nav-link py-3"
				tooltip="Logout"
        		placement="right">
				<img src="assets/icon_logout.svg"
					alt="logout">
			</a>
		</li>
	</ul>
</div>
<ng-template #logout>
	<div class="modal-body text-center">
		<p class="mt-1">Are you sure?</p>
		<button (click)="confirm()"
			type="button"
			class="btn btn-default">
			Yes
		</button>
		<button (click)="decline()"
			type="button"
			class="btn bg-black text-white">
			No
		</button>
	</div>
</ng-template>
