a:hover{
    cursor: pointer;
}
header.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
.sidebar{
    z-index: 1;
    height: 100vh;
    width: 80px;
    overflow: hidden;
}
.nav a:hover{
    background-color: #343a40;
}
@media (orientation:portrait) and (max-width:576px) {
    .sidebar{
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
    }
}