<!-- <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 px-4 mb-4 sticky bg-white">
	<a href="#"
		class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
		<img src="../../../assets/blacknamelogo.svg"
			alt="logo"
			width="200">
	</a>
	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
		<li>
			<a (click)="navigateMenu('home')"
				class="nav-link px-2 link-secondary">
				Home
			</a>
		</li>
		<li>
			<a (click)="navigateMenu('create')"
				class="nav-link px-2 link-secondary">
				Create
			</a>
		</li>
	</ul>
	<div class="col-md-3 text-end">
		<a (click)="openModal(logout)"
			class="btn bg-black text-white">
			Log out
		</a>
	</div>
</header> -->
<ng-template #logout>
	<div class="modal-body text-center">
		<p class="mt-1">Are you sure?</p>
		<button (click)="confirm()"
			type="button"
			class="btn btn-default">
			Yes
		</button>
		<button (click)="decline()"
			type="button"
			class="btn bg-black text-white">
			No
		</button>
	</div>
</ng-template>
<div class="d-flex flex-column bg-black sidebar align-items-center justify-content-between py-3"
	style="width: 5rem;">
	<a (click)="navigateMenu('home')"
		class="d-block link-dark text-decoration-none"
		title="Icon-only">
		<img src="../../../assets/whitelogo.svg"
			height="50"
			width="50"
			alt="logo">
	</a>
	<ul class="nav flex-column text-center">
		<li class="nav-item">
			<a (click)="navigateMenu('home')"
				class="nav-link py-3"
				title="Home">
				<img src="../../../assets/icon_home.svg"
					alt="home">
			</a>
		</li>
		<li>
			<a href="#"
				class="nav-link py-3"
				title="List">
				<img src="../../../assets/icon_list.svg"
					alt="list">
			</a>
		</li>
		<li>
			<a (click)="navigateMenu('create')"
				class="nav-link py-3"
				title="Create">
				<img src="../../../assets/icon_create.svg"
					alt="create">
			</a>
		</li>
	</ul>
	<ul class="nav flex-column text-center">
		<li class="nav-item">
			<a href="#"
				class="nav-link py-3"
				title="Profile">
				<img src="../../../assets/icon_account.svg"
					alt="account">
			</a>
		</li>
		<li>
			<a (click)="openModal(logout)"
				class="nav-link py-3"
				title="Logout">
				<img src="../../../assets/icon_logout.svg"
					alt="logout">
			</a>
		</li>
	</ul>
</div>
