a:hover{
    cursor: pointer;
}
.sidebar{
    z-index: 1;
    height: 100vh;
    width: 80px;
    overflow: hidden;
    background-color: #212240 !important;
}
.nav a:hover{
    background-color: #484a88;
}
.active{
    background-color: #343664;
}
@media (orientation:portrait) and (max-width:576px) {
    .sidebar{
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
    }
}