
.container{
    height: 100vh;
}
.font{
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0;
}
.bgtitle{
    font-size: 40px;
    font-weight: 100;
    margin-left: 148px;
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: 0.03em;
}
.bgtext{
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    margin-left: 148px;
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: -.003em;
}
.bgtitle::placeholder{
    color: #b3b3b1;
}
.bgtext::placeholder{
    color: #b3b3b1;
}
.bgtitle:focus, .bgtext:focus{
    box-shadow: none;
}

.btnpub{
    border-radius: 20px;
    width: 100px;
    align-items: center;
}
textarea{
    resize: auto;
    overflow: hidden;
    text-align: justify;
}
textarea::placeholder{
    color:black;
}

// @media screen and (max-width: 600px) {
//     .bgtitle, .bgtext {
//         margin-left: 40px;
//     }
// }
@media screen and (max-width: 987px) {
    .bgtitle, .bgtext {
        margin-left: 20px;
    }
}

input, textarea{
    background: none;
}