<div class="modal-header d-md-none">
	<button (click)="bsModalRef?.hide()"
		type="button"
		class="btn-close close pull-right"
		aria-label="Close">
		<span aria-hidden="true"
			class="visually-hidden">
			&times;
		</span>
	</button>
</div>
<div class="modal-body">
	<div class="d-flex flex-column px-md-5">
		<div class="my-3 d-flex justify-content-center">
			<img src="../../../../assets/blacklogo.svg"
				alt="logo"
				width="75">
		</div>
		<div class="mb-3 d-flex justify-content-center">
			<h4>Welcome!</h4>
		</div>
		<button class="btn mb-3">
			<div class="d-flex justify-content-center">
				<div class="mx-2">
					<img src="../../../../assets/Google__G__Logo.svg"
						alt="google"
						width="20"
						height="20">
				</div>
				<div class="mx-2">
					Continue with Google
				</div>
			</div>
		</button>
		<p class="text-center">or</p>
		<form [formGroup]="signupForm">
			<div class="mb-3">
				<input type="text"
					formControlName="fullName"
					class="form-control"
					placeholder="Full name"
					required>
				<div *ngIf="signupForm.get('fullName')?.invalid && !isValid"
					class="text-danger small">
					<div *ngIf="signupForm.get('fullName')?.errors?.['required']">
						Full name is required.
					</div>
				</div>
			</div>
			<div class="mb-3">
				<input type="email"
					formControlName="email"
					class="form-control"
					placeholder="Email"
					required>
				<div *ngIf="signupForm.get('email')?.invalid && !isValid"
					class="text-danger small">
					<div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
					<div *ngIf="signupForm.get('email')?.errors?.['email']">Email is invalid.</div>
				</div>
			</div>
			<div class="mb-3">
				<input [type]="showPassword ? 'text' : 'password'"
					formControlName="password"
					class="form-control"
					placeholder="Password"
					required>
					<span toggle="#password-field" class="material-icons" (click)="passwordVisibility()">
						{{ showPassword? 'visibility' : 'visibility_off' }}
					</span>
				<div *ngIf="signupForm.get('password')?.invalid && !isValid"
					class="text-danger small">
					<div *ngIf="signupForm.get('password')?.errors?.['required']">
						Password is required.
					</div>
					<div *ngIf="signupForm.get('password')?.errors?.['pattern']">
						Password is invalid.
					</div>
				</div>
			</div>
			<!-- <div class="mb-3">
				<input type="password"
					formControlName="confirmPassword"
					class="form-control"
					placeholder="Confirm password">
				<div *ngIf="signupForm.get('confirmPassword')?.invalid && !isValid"
					class="text-danger small">
					<div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">
						Password is required.
					</div>
					<div *ngIf="signupForm.get('confirmPassword')?.errors?.['pattern']">
						Password is invalid.
					</div>
				</div>
			</div> -->
			<button (click)="signup()"
				type="button"
				class="col-12 btn bg-black text-white mt-2">
				Create account
			</button>
		</form>
		<h5 class="text-center mt-4">
			Already have an account?
			<a (click)="bsModalRef?.hide();openLogin()"
				class="btn-link"
				title="Log In">
				Log in
			</a>
		</h5>
		<h5 class="text-center small my-3">
			<a href="#">Privacy Policy</a>
			and
			<a href="#">
				Terms of Service apply
			</a>
			.
		</h5>
	</div>
</div>
