<div class="blog">
	<div class="row justify-content-center">
		<div class="d-flex col-md-6 px-4 justify-content-start mt-3">
			<app-back-button></app-back-button>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6 px-4">
			<div *ngFor="let blog of blogList" class="d-flex flex-column justify-content-center">
				<h1>
					<strong>{{blog.blogTitle}}</strong>
				</h1>
				<div class="d-flex justify-content-center mb-3">
					<img src="http://localhost:4040/{{blog.path}}" class="img-fluid" alt="">
				</div>
				<div [innerHtml]="blog.blogDescription"></div>
				<app-like-share-button [blogList]="blogList" [blogId]="blog._id" [likeLen]="blog.likes.length"
					[user]="user"></app-like-share-button>
				<p class="mt-2 mb-3">
					<a (click)="navigateUser(blog.userId._id)" style="cursor: pointer;">
						<img src="../../../assets/icon_account_black.svg" alt="avatar" width="16" height="16">
						<strong>
							{{ blog.userId.fullName | titlecase }}
						</strong>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>