/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-sharebuttons/themes/material.scss';
@import '../node_modules/ngx-sharebuttons/themes/default.scss';
@import '../node_modules/ngx-sharebuttons/themes/custom.scss';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
body{
    background-color: #f4f4f4;
}

.btn {
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
}
