<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 px-4 mb-4 border-bottom">
	<a href="#"
		class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
		<img src="../../../assets/blacknamelogo.svg"
			alt="logo"
			width="200">
	</a>
	<div class="col-md-3 text-end">
		<button (click)="openModalWithComponent('login')"
			type="button"
			class="btn text-black border-black-2 me-2">
			Login
		</button>
		<button (click)="openModalWithComponent('signup')"
			type="button"
			class="btn bg-black text-white">
			Sign-up
		</button>
	</div>
</header>